:root {
  --primary-text-color: #2e2f42;
}

body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Header */

.logo-first {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-first span {
  color: #2e2f42;
}

/* Nav */

.site-nav .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav .link:hover,
.nav .link:focus {
  color: #404bbf;
}

/* Address */

.address .link {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address .link:hover,
.address .link:focus {
  color: #404bbf;
}

/* Hero */

.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-first {
  color: #2e2f42;
}
.information-list .title {
  color: var(--primary-text-color);
}

.section-second {
  color: #2e2f42;
  background-color: #e7e9fc;
}

.section-title {
  color: var(--primary-text-color);
}

.section-third {
  color: #2e2f42;
  background-color: #f4f4fd;
}
.footer-list {
  background-color: #2e2f42;
}

.logo-second {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-second span {
  color: #f4f4fd;
}
.paragraph {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
